body {
  background: pink;
}

.App {
  text-align: center;
  background: pink;
  font-family: 'Poppins', sans-serif;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightseagreen;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

/* .stickynote{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

} */

.notes{
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-around;
}

.stickynote{
   height: 200px;
    width: 200px;
    color: #7f6c04; 
    background: #f9dd45;
    border-radius: 10px;
    border: 0px; 
    font-size: 13px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4); overflow: hidden;
  }